<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Task Manager</title>
    </head>
    <body>
        <div id="title">
            <h1>The Task Manager</h1>
        </div>
        <div id="start">
            <h1>Login Page</h1>
            <button onclick="window.location.href='./login'">Login</button>
            <button onclick="window.location.href='./register'">Register</button>
        </div>
    </body>
</html>