<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <title>Add task</title>
    </head>
    <body>
        <div id="title">
            <h1>Add new Task</h1>
        </div>
        <div id="login">
            <form action="/addTask" method="POST">
                <input type="text" name="title" placeholder="Title" required/>
                <input type="text" name="description" placeholder="description" required/>
                <input type="text" name="status" placeholder="Status" requried/>
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>