<!DOCTYPE html>
<html>
    <head>
        <title>Register User</title>
    </head>
    <body>
        <div id="register">
            <h1>Register New User</h1>
            <form action="/register" method="POST">
                <input type="text" name="userName" placeholder="Username" requireq/>
                <input type="text" name="password" placeholder="Password" required/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>